@keyframes flip-front-to-middle {
  0% {
    box-shadow: 0 0.2rem 0.2rem #000;
    border-bottom: 0.1rem solid rgba(240, 46, 170, 0.4);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flip-middle-to-back {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  100% {
    transform: rotateX(-180deg);
    box-shadow: 0 0.2rem 0.2rem #000;
    border-top: 0.1rem solid rgba(240, 46, 170, 0.4);
  }
}
