$clr-primary-1: hsl(237, 18%, 59%);
$clr-primary-2: hsl(345, 95%, 68%);
$clr-neutral-1: hsl(0, 0%, 100%);
$clr-neutral-2: hsl(236, 21%, 26%);
$clr-neutral-3: hsl(235, 16%, 14%);
$clr-neutral-4: hsl(234, 17%, 12%);

$default-font-size: 1.4rem;
$counter-font-size: 8rem;
$default-font-weight: 700;

$counter-padding: 4rem;

$counter-gap: 10rem;
