*,
**,
**::after,
**::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Red Hat Text", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  position: relative;
  background-image: url(./images/pattern-hills.svg), linear-gradient(hsl(235deg, 16%, 14%), hsl(235deg, 16%, 14%));
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content__header {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: hsl(0deg, 0%, 100%);
}
.content__counter {
  perspective: 600px;
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  width: 15rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon:hover {
  cursor: pointer;
  filter: invert(56%) sepia(91%) saturate(2358%) hue-rotate(310deg) brightness(100%) contrast(98%);
}

.foreground {
  position: absolute;
  font-size: 8rem;
  height: 4rem;
  width: 9.6rem;
  padding: 0 2rem;
  backface-visibility: hidden;
  overflow: hidden;
  display: none;
}
.foreground--front {
  top: 0rem;
  background-color: orangered;
  transform-origin: bottom;
  animation: flip-middle-to-down 0.5s forwards linear;
  padding-top: 2rem;
}
.foreground--back {
  top: 6rem;
  background-color: yellowgreen;
  transform-origin: top;
  transform: rotateX(180deg);
  animation: flip-top-to-middle 0.5s forwards linear;
  backface-visibility: hidden;
  padding-bottom: 2rem;
}
.foreground__text {
  height: 10rem;
  width: 10rem;
  position: absolute;
}
.foreground--front .foreground__text {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.foreground--back .foreground__text {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  position: relative;
  font-size: 8rem;
  height: 4rem;
  width: 9.6rem;
  z-index: -1;
  padding: 0 2rem;
  overflow: hidden;
}
.background--top {
  background-color: yellow;
  padding-top: 2rem;
}
.background--bottom {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}
.background__text {
  height: 10rem;
  width: 10rem;
  position: absolute;
}
.background--top .background__text {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background--bottom .background__text {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes flip-top-to-middle {
  0% {
    box-shadow: 0 0.2rem 0.2rem #000;
    border-bottom: 0.1rem solid rgba(240, 46, 170, 0.4);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes flip-middle-to-down {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  100% {
    transform: rotateX(-180deg);
    box-shadow: 0 0.2rem 0.2rem #000;
    border-top: 0.1rem solid rgba(240, 46, 170, 0.4);
  }
}
