@import "../sass/variables";
@import "../sass/mixin";

@function multiply-rem($value1, $value2) {
  @return calc($value1 * $value2 / 1rem);
}

.timeclock {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;

  @include respond(tab-land) {
    width: 100%;
  }

  &__header {
    box-sizing: content-box;
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: $clr-neutral-1;
    border-radius: 0.5rem;
    padding: 6%;
    border: 0.1rem solid transparent;
    cursor: pointer;

    &:hover {
      background: radial-gradient($clr-primary-1, $clr-primary-2);
      border: 0.1rem solid $clr-primary-2;

      -webkit-background-clip: text;
      background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }

  &__counter-box {
    display: flex;
    justify-content: center;
    gap: $counter-gap;

    @include respond(tab-land) {
      gap: 1.5rem;
      height: 14rem;
    }
  }

  &__counter {
    perspective: 60rem;
    display: inline-block;
    position: relative;

    width: multiply-rem($counter-padding, $counter-padding);
    height: multiply-rem($counter-padding, $counter-padding);

    @include respond(tab-land) {
      width: 12rem;
      height: 12rem;
    }
  }

  &__unit-box {
    display: flex;
    justify-content: center;
    gap: $counter-gap;
    color: white;

    @include respond(tab-land) {
      gap: 1.5rem;
    }
  }

  &__unit {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: $clr-primary-1;
    font-size: $default-font-size;
    width: multiply-rem($counter-padding, $counter-padding);

    @include respond(tab-land) {
      margin: 0;
      width: 12rem;
    }
  }
}
