@import "../sass/variables";

@function multiply-rem($value1, $value2) {
  @return calc($value1 * $value2 / 1rem);
}

.timeclock {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;

  &__header {
    box-sizing: content-box;
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: $clr-neutral-1;
    border-radius: 0.5rem;
    padding: 6%;
    border: 0.1rem solid transparent;
    cursor: pointer;

    &:hover {
      background: radial-gradient($clr-primary-1, $clr-primary-2);
      border: 0.1rem solid $clr-primary-2;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__counter-box {
    display: flex;
    justify-content: center;
    gap: $counter-gap;
  }

  &__counter {
    perspective: 60rem;
    display: inline-block;
    position: relative;

    width: multiply-rem($counter-padding, $counter-padding);
    height: multiply-rem($counter-padding, $counter-padding);
  }

  &__unit-box {
    display: flex;
    justify-content: center;
    gap: $counter-gap;
    color: white;
  }

  &__unit {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: $clr-primary-1;
    font-size: $default-font-size;
    width: multiply-rem($counter-padding, $counter-padding);
  }
}
