// *,
// **,
// **::after,
// **::before {
//   box-sizing: border-box;
// }

html,
body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Red Hat Text", sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
}
